<mat-form-field [formGroup]="formGroup" appearance="outline" fxFlex>
    <mat-label>Email</mat-label>
    <input matInput type="email" [formControlName]="formcontrolname" placeholder="Email" #input autocomplete="off">
    <mat-icon matSuffix class="secondary-text">mail</mat-icon>
    <mat-error *ngIf="formGroup.get(formcontrolname).hasError('required')">Dados obrigatórios não informados</mat-error>
    <mat-error *ngIf="!formGroup.get(formcontrolname).hasError('required') 
      && formGroup.get(formcontrolname).hasError('email')">Por favor entre com um email válido</mat-error>
</mat-form-field>