<div id="view" fxFlex fxLayout="column">

    <app-header [operation]="operation" [iconName]="iconName" [isSearch]="false" [title]="title"
     [isFilter]="false" [config]="filterOrder"  [isExported]="true" [dataToExport]="dataToExport">
    </app-header>
    <!-- CONTENT WRAPPER -->
    <div class="content-wrapper w-100-p" fusePerfectScrollbar>
      <app-data-table [data]="dataSource" [config]="configuration" [isPaginated]="true" [isViewed]="true"
        [isUpdated]="true" [isDeleted]="false" (refresh)="onRefresh($event)" (view)="onView($event)"
        (update)="onUpdate($event)"></app-data-table>
    </div>
    <!-- / CONTENT WRAPPER -->
  </div>