<div id="view" fxFlex fxLayout="column">

    <app-header [formGroup]="form" [operation]="operation" [iconName]="iconName" (search)="onSearch($event)"
        [title]="title" [subtitle]="subtitle" (cancel)="onCancel()" (save)="onSave()">
    </app-header>

    <div class="content-form-wrapper w-95-p p-20" fxFlex="100" fxLayout="column" fusePerfectScrollbar>

        <app-input-toggle fxFlex="15" fxFlexAlign="center" [formGroup]="form" (click)="changeConnectedShipping()"
            label="Ligado a Transportadora" formcontrolname="connectedShippingCompany">
        </app-input-toggle>

        <app-input-select [data]="shippingCompanies" displayField="name" [formGroup]="form"
            *ngIf="shippingCompany" formcontrolname="shippingCompany" label="Selecione uma Transportadora"
            placeholder="Selecione uma Transportadora" searchField="name" valueField="idShippingCompany"
            (select)="onSelectShippingCompany($event)" >
        </app-input-select>

        <app-input-text [formGroup]="form" formcontrolname="sector" label="Setor"
            [maxLength]="40" placeholder="Setor">
        </app-input-text>

        <div fxLayout="row" class="pt-20">
            <div class="w-45-p mr-48" >

                <app-input-text [formGroup]="form" formcontrolname="username" label="Nome do Usuário"
                    [maxLength]="15" placeholder="Nome do Usuário">
                </app-input-text>

                <app-input-text [formGroup]="form" formcontrolname="email" label="Email"
                    [maxLength]="100" placeholder="Email">
                </app-input-text>

                <app-input-toggle fxFlexAlign="center" [formGroup]="form" label="Redefinir Senha"
                    formcontrolname="redefinePassword" *ngIf="operation === 'EDIT'">
                </app-input-toggle>

            </div>

            <div class="w-45-p ml-48" *ngIf="operation === 'NEW'" style="border: 1px solid #e0e0e0;border-radius: 5px;overflow: scroll;
                padding: 20px 20px 0px 20px;height: 246px;" formarrayname="profiles">
                <app-input-select-multiple *ngFor="let item of dataFactory"
                    [data]="item.profiles" displayField="name" [formGroup]="form"
                    formcontrolname="selectedProfile" [label]="item.name" [searchField]="item.name"
                    valueField="id" (changeSelect)="addItem($event, item)">
                </app-input-select-multiple>
            </div>

        </div>

    </div>
</div>