<div id="view" fxFlex fxLayout="column">

    <app-header [formGroup]="form" [operation]="operation" [iconName]="iconName" [title]="title" (cancel)="onCancel()"
        (save)="onSave()">
    </app-header>

    <div class="content-form-wrapper w-95-p p-20" fxFlex="100" fxLayout="column" fusePerfectScrollbar>

        <app-input-select [data]="factories" valueField="idFactory" displayField="name" [formGroup]="form"
            formcontrolname="idFactory" label="Selecione a Fábrica">
        </app-input-select>

        <app-input-number [formGroup]="form" formcontrolname="dailyLoadCapacity"
            placeholder="Capacidade Diária de Carga" label="Capacidade Diária de Carga" [max]="9999999999">
        </app-input-number>

        <app-input-text [formGroup]="form" formcontrolname="dailyTonCapacity"
            placeholder="Capacidade Diária em Toneladas" label="Capacidade Diária em Toneladas" mask="00,000">
        </app-input-text>

        <div fxFlex="100" fxLayout="row" fxLayoutGap="10px" fxLayout.lt-md="column">
            <app-input-datepicker fxFlex fxFlex.sm="50" [formGroup]="form" formcontrolname="initialDate"
                label="Data Inicial" placeholder="DD-MM-AAAA" mask="00-00-0000" [cleanInput]="cleanInput">
            </app-input-datepicker>

            <app-input-datepicker fxFlex fxFlex.sm="50" [formGroup]="form" formcontrolname="finalDate"
                label="Data Final" placeholder="DD-MM-AAAA" mask="00-00-0000" [cleanInput]="cleanInput">
            </app-input-datepicker>
        </div>

    </div>

</div>
