<header class="top-bg accent">

    <!-- HEADER WRAPPER -->
    <div class="header-wrapper accent" fxLayout="column">
        <!-- CENTER -->
        <div class="center" fxFlex fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center">

            <ng-container *ngIf="operation === 'INDEX'">
                <!-- APP TITLE -->
                <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                        {{ iconName }}
                    </mat-icon>
                    <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                        {{ title }}
                    </span>
                </div>
                <!-- / APP TITLE -->

                <!-- SEARCH -->
                <div class="search-wrapper mx-32 mx-md-0">
                    <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon>search</mat-icon>
                        <input #filter (keydown.space)="!searchInput.value ? $event.preventDefault() : $event"
                            [formControl]="searchInput" autocomplete="off" placeholder="Pesquisar...">
                    </div>
                </div>
                <!-- / SEARCH -->

                <!-- ADD BUTTON -->
                <button mat-raised-button class="button fuse-white mt-24 mt-md-0" [routerLink]="['../new']">
                    <span>ADICIONAR</span>
                </button>
                <!-- / ADD BUTTON -->
            </ng-container>

            <ng-container *ngIf="operation === 'EDIT' || operation === 'NEW' || operation === 'VIEW'">
                <!-- APP TITLE -->
                <div fxLayout="row" fxLayoutAlign="start center">

                    <button mat-icon-button class="mr-0 mr-sm-16" (click)="onCancel()">
                        <mat-icon>arrow_back</mat-icon>
                    </button>

                    <div fxLayout="column" fxLayoutAlign="start start"
                        [@animate]="{value:'*',params:{delay:'200ms',x:'-25px'}}">
                        <div class="h2">
                            {{ title }}
                        </div>
                        <div class="subtitle secondary-text">
                            <span>{{ subtitle }}</span>
                        </div>
                    </div>
                </div>
                <!-- / APP TITLE -->

                <button mat-raised-button class="button fuse-white mt-24 mt-md-0" [disabled]="formGroup.invalid"
                    *ngIf="operation ==='NEW'" (click)="onSave()">
                    <span>ADICIONAR</span>
                </button>

                <button mat-raised-button class="button fuse-white mt-24 mt-md-0"
                    [disabled]="formGroup.invalid || formGroup.pristine" *ngIf="operation ==='EDIT'" (click)="onSave()">
                    <span>SALVAR</span>
                </button>

            </ng-container>

        </div>
        <!-- / CENTER -->

        <div class="center" fxFlex fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center" *ngIf="operation === 'INDEX'">
            <ng-container>
                <!-- FILTER -->
                <app-filter *ngIf="isFilter" fxFlex [config]="config" (refresh)="onFilter($event)">
                </app-filter>
                <!-- / FILTER -->
            </ng-container>
        </div>

    </div>
    <!-- / HEADER WRAPPER -->

</header>