<div id="view-form" fxFlex fxLayout="column">
  <app-header [formGroup]="form" [operation]="operation" [iconName]="iconName" (search)="onSearch($event)"
    [title]="title" [subtitle]="subtitle" (cancel)="onCancel()" (save)="onSave()">
  </app-header>

  <!-- CONTENT FORM WRAPPER -->
  <div class="content-form-wrapper w-95-p p-20" fusePerfectScrollbar>
    <form fxLayoutAlign="space-between" fxLayout="column">

      <app-input-select fxFlex [data]="factories" displayField="name" [formGroup]="form" formcontrolname="idFactory"
        label="Selecione a Fábrica" searchField="name" valueField="idFactory">
      </app-input-select>

      <app-input-text fxFlex [formGroup]="form" formcontrolname="description" label="Descrição" 
        [maxLength]="40">
      </app-input-text>

      <div fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="30px">

        <app-input-text fxFlex [formGroup]="form" formcontrolname="maximumWeightPerAxle" label="Peso Máximo por eixo"
          mask="000,000">
        </app-input-text>

        <app-input-text fxFlex [formGroup]="form" formcontrolname="totalGrossPrice" label="Peso Bruto Total (PBT) (t)"
          mask="000,000">
        </app-input-text>

        <app-input-text fxFlex [formGroup]="form" formcontrolname="totalGrossPriceTolerance" label="PBT + Tolerância (t)"
          mask="000,000">
        </app-input-text>

      </div>

      <div fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="30px">
        <app-input-text fxFlex [formGroup]="form" formcontrolname="capacity" label="Lotação (t)" mask="000,000">
        </app-input-text>

        <app-input-text fxFlex [formGroup]="form" formcontrolname="maxLength" label="Comprimento Máximo (m)" 
          mask="00,0">
        </app-input-text>

        <app-input-text fxFlex [formGroup]="form" formcontrolname="quantityOfTheKit" label="Quantidade do Conjunto" 
          mask="0">
        </app-input-text>

      </div>
    </form>
  </div>
  <!-- / CONTENT FORM WRAPPER -->
</div>