<div id="forgot-password" class="inner-scroll" fxLayout="row" fxLayoutAlign="start">

    <div id="forgot-password-intro" fxFlex fxHide fxShow.gt-xs>

        <div class="logo" [@animate]="{value:'*',params:{scale:'0.2'}}">
            <img src="assets/images/logos/logo_wide.png">
        </div>
    </div>

    <div id="forgot-password-form-wrapper" fusePerfectScrollbar
        [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">

        <div id="forgot-password-form">

            <div class="logo" fxHide.gt-xs>
                <img src="assets/images/logos/logo_wide.png">
            </div>

            <div class="title">RECUPERE SUA SENHA</div>

            <form name="forgoPasswordForm" [formGroup]="form" novalidate>
                <app-input-email [formGroup]="form" formcontrolname="email"></app-input-email>

                <button mat-raised-button (click)="verifyEmail()" class="submit-button" color="accent" aria-label="ENVIAR" [disabled]="form.invalid">
                    ENVIAR
                </button>
            </form>

            <div class="login" fxLayout="row" fxLayoutAlign="center center">
                <a class="link" [routerLink]="'/not-auth/login'">Voltar para o Login</a>
            </div>

        </div>
    </div>
</div>