<div id="view" fxFlex fxLayout="column">

    <app-header [formGroup]="form" [operation]="operation" [iconName]="iconName" [title]="title" (cancel)="onCancel()"
        (save)="onSave()">
    </app-header>

    <div class="content-form-wrapper w-95-p p-20" fxFlex="100" fxLayout="column" fxLayoutGap="10px"
        fusePerfectScrollbar>

        <div fxFlex="100" fxLayout="row" fxLayoutGap="10px" fxLayout.lt-md="column">
            <app-input-text fxFlex [formGroup]="form" formcontrolname="name" label="Nome da Fábrica" iconName="business"
                [maxLength]="60" placeholder="Nome da Fábrica">
            </app-input-text>
        </div>

        <app-input-text fxFlex="50" [formGroup]="form" formcontrolname="cnpj" label="CNPJ" mask="00.000.000/0000-00">
        </app-input-text>

        <div fxFlex="100" fxLayout="row" fxLayoutGap="10px" fxLayout.lt-md="column">
            <app-input-select fxFlex [data]="states" displayField="name" [formGroup]="form" formcontrolname="idState"
                label="Selecione o Estado" searchField="name" valueField="idState" (select)="onSelectState($event)">
            </app-input-select>

            <app-input-select fxFlex [data]="cities" displayField="name" [formGroup]="form" formcontrolname="idCity"
                label="Selecione a Cidade" searchField="name" valueField="idCity">
            </app-input-select>

            <app-input-text fxFlex [formGroup]="form" formcontrolname="zipCode" label="CEP" mask="00000-000"
                placeholder="CEP">
            </app-input-text>
        </div>

        <div fxFlex="100" fxLayout="row" fxLayoutGap="10px" fxLayout.lt-md="column">
            <app-input-text fxFlex [formGroup]="form" formcontrolname="address" label="Endereço" [maxLength]="60"
                placeholder="Endereço">
            </app-input-text>
            <app-input-text fxFlex [formGroup]="form" formcontrolname="neighborhood" label="Bairro" [maxLength]="60"
                placeholder="Bairro">
            </app-input-text>
        </div>

        <div fxFlex="100" fxLayout="row" fxLayoutGap="10px">
            <app-input-text fxFlex [formGroup]="form" formcontrolname="latitude" placeholder="Latitude"
                label="Latitude"></app-input-text>
            <app-input-text fxFlex [formGroup]="form" formcontrolname="longitude" placeholder="Longitude"
                label="Longitude"></app-input-text>
            <app-input-text fxFlex [formGroup]="form" formcontrolname="perimeter" placeholder="Perímetro (KM)"
                label="Perímetro (KM)"></app-input-text>
        </div>

    </div>

</div>