<div id="reset-password" class="inner-scroll" fxLayout="row" fxLayoutAlign="start">

    <div id="reset-password-intro" fxFlex fxHide fxShow.gt-xs>

        <div class="logo" [@animate]="{value:'*',params:{scale:'0.2'}}">
            <img src="assets/images/logos/logo_wide.png">
        </div>
    </div>

    <div id="reset-password-form-wrapper" fusePerfectScrollbar [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">

        <div id="reset-password-form">

            <div class="logo" fxHide.gt-xs>
                <img src="assets/images/logos/logo_wide.png">
            </div>

            <div class="title">REDEFINA SUA SENHA</div>

            <form name="form" [formGroup]="form" novalidate>

                <app-input-password [formGroup]="form" formcontrolname="password"></app-input-password>
                <app-input-password [formGroup]="form" formcontrolname="passwordConfirm" 
                placeholder="Senha (Confirmar)" label="Senha (Confirmar)"></app-input-password>

                <button mat-raised-button class="submit-button" color="accent" aria-label="REDEFINIR SENHA"
                    [disabled]="form.invalid" (click)="onReset()">REDEFINIR SENHA
                </button>
            </form>

            <div class="login" fxLayout="row" fxLayoutAlign="center center">
                <a class="link" [routerLink]="'/not-auth/login'">Voltar para o Login</a>
            </div>

        </div>
    </div>
</div>