<div id="view" fxFlex fxLayout="column">
  <app-header [isSearch]="true" [operation]="operation" [iconName]="iconName" (search)="onSearch($event)" [title]="title"
    [subtitle]="subtitle">
  </app-header>

  <!-- CONTENT WRAPPER -->
  <div class="content-wrapper w-100-p" fusePerfectScrollbar>
    <app-data-table [data]="dataSource" [config]="configuration" [isPaginated]="true" [isViewed]="true"
      [isUpdated]="true" [isDeleted]="true" (refresh)="onRefresh($event)" (view)="onView($event)"
      (update)="onUpdate($event)" (delete)="onDelete($event)"></app-data-table>
  </div>
  <!-- / CONTENT WRAPPER -->
</div>